*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: 10px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #ccc;
  padding: 20px 0 0 0;
}

/* Login form */
/* Full-width input fields */
 input[type=text],
 input[type=password] {
    width: 65%;
    padding: 2px 5px;
    margin: 2px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container {
  margin-top: 20px;
}

/* Extra styles for the cancel button */


span.psw {
    padding-top: 6px;
}


#content {
  margin-top: 10px;
  border: 1px solid grey;
  background: white;
}

#social-media {
 max-width: 998px;
 height: 30px;
 background: linear-gradient(#222, #555);
 z-index: 19;
}

#banner-head {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-image: url("header.jpg");
  background-position: center;
  width: 999px;
  height: 200px;
  z-index: 0;
}

#banner-head h1 {
  text-align: center;
  padding: 40px 0;
}

nav ul {
  padding: 5px 30px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding:5px 30px;
    border-right: 1px solid #ccc;
    font-size: 16px
}

nav ul li:hover {
background: #fff;
cursor: pointer;
}

nav li:last-child{
   border: none;
}

nav {
  text-align: center;
  background: linear-gradient(#fff, #ddd);
}

nav a {
  color: #333;
}

nav a:hover {
  color: #333;
}


.main-section{
  clear: both;
  font-size: 11px;
  background: #fff;
  width: 938px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  position: relative;
}

#social-media ul li {
  position: relative;
  z-index: 1;
  display: inline;
  float: right;
  color: orange;
  background: linear-gradient(#fff, #ddd);
  margin: 0px 5px;
  padding: 8px;
  font-size: 14px;
  box-shadow: 0px 0px 2px #333;
  box-shadow: 0 0 2px #fff;
  border-top: none;
  transition: padding-bottom 300ms;
}

#social-media ul:last-child {
  margin-right: 20px;
}

#social-media ul{
  border-top: none;
     z-index: 1000;
}

#social-media ul li:hover {
  display: inline;
  float: right;
  color: #f58b0a;
  background: linear-gradient(#fff, #ddd);
  margin: 0px 5px;
  padding: 8px 8px 12px 8px;
  box-shadow: 0px 0px 1px orange;
  border-top: none;
  transition: padding-bottom 500ms;
}

#social-text {
  font-family: 'Rubik', sans-serif;
  float: left;
  padding: 10px 10px;
}

span {
  color: #f58b0a;
  font-weight: 500;
  margin: 0 2px;
}

#main-article{
  float: left;
  font-size: 11px;
    width: 460px;
    padding: 30px 9px 50px 29px;
    text-align: center;
}

#main-aside{
  float: right;
  width: 460px;
  font-size: 11px;
  padding: 30px 30px 50px 10px;
  text-align: center;
}

footer {
  clear: both;
  padding: 20px 0;
  text-align: center;
  background: linear-gradient(#fff, #ddd);
  font-size: 9px;
  border-top: 5px solid orange;
}

#logo img {
position: absolute;
width: 120px;
height: 100px;
top: 30%;
left: 10%;
}

button {
 width: 30%;
 padding: 7px;
 border: none;
 background: orange;
 letter-spacing: 1px;
 font-size: 10px;
 border-radius: 5%;
 color: white;
 margin-top: 10px;
 margin-left: 20px;
}
button::after{
content:" ";
}

button:hover {
    opacity: 0.8;
}

.newsletter > input {
  padding: 3px;
  width: 60%;
}
.newsletter > button {
  width: 50%;
}
header h1 {
  font-family: Kavivanar, arial, sans-serif;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 23%;
}

header h3 {
  font-family: Kavivanar, arial, sans-serif;
  color: #fff;
  position: absolute;
  top: 57%;
  left: 23%;
  font-size: 14px;
}

header p {
  font-family: Kavivanar, arial, sans-serif;
  color: #fff;
  position: absolute;
  top: 38%;
  left: 23%;
  font-size: 10px;
}

#info {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top: 20%;
  left: 65%;
  background: white;
  border-radius: 20px;
  width:250px;
  height: 110px;
  padding: 10px;
  font-size:12px;
  box-shadow: 0 0 10px white;
}

h6 {
  color: white;
  font-weight: 400;
  font-size: 10px;
}

a {
  color: #ff4c4c;
  text-decoration: none;
}
a:hover {
  color: orange;
}

.active{
  background: #fff;
  cursor: pointer;
}

.offerts {
  margin: 0 auto;
  width: 30%;
  display: inline-block;

}

.offerts > i {
  font-size: 46px;
  color: #444;
  margin: 20px;
  box-shadow: 0px 0px 100px #ddd;
}
.text-offerts {
  font-size: 12px;
  padding: 20px 30px 20px 30px;
  border: 1px solid #ddd;
  margin-right: 10px;
  border-radius: 10px;
  background: #eee;
}
.offerts-btn {
  padding: 10px;
  font-size: 10px;
  width: 100px;
}
.side {
  border-top: 5px solid orange;
}
#shop-section {
  width: 80%;
  float: right;
  margin-top: 30px;
}

#shop-section > input {
  width: 80%;
}

#shop-aside {
  width:20%;
  float: left;
  display: inline-block;
  text-decoration: none;
}
#shop-aside ul li {
  list-style-type: none;
  font-size: 14px;
  padding: 2px 2px 2px 2px;
  border: 1px solid #ddd;
  margin: 5px 30px 5px 15px;
  box-shadow: 1px 1px 5px #eee;
}
#shop-aside ul:first-child {
  margin-top: 30px;
}
#shop-aside > .bird {
  width: 30px;
  height: 27px;
  margin: 30px 0 30px 80px;
}
#shop-aside > .pay {
  width: 150px;
  height: 70px;
  margin: 30px 0 0px 30px;
}
#aside-text {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.shop-element {
  position: relative;
  width: 150px;
  height: 230px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.shop-element > button {
  position: absolute;
  top: 190px;
  left: 40px;
}
.shop-element > p {
  position: absolute;
  top: 168px;
  left: 70px;
}
.shop-element > i {
  position: absolute;
  top: 181px;
  left: 55px;
}

.shop-element > img {
  width: 150px;
  height: 150px;
}

section > img {
  width: 200px;
  height: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.about-text {
  border: 1px solid #ddd;
  width: 60%;
  padding: 30px 10px 30px 10px;
  margin: 20px auto;
  border-radius: 20px;
  font-size: 12px;
}

.about-tables {
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
}
.about-tables h2 {
  text-align: center;
  margin-bottom: 5px;
}
table {
    margin: 0 auto;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#brand-text {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 32px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 5px #aaa;

}
#brand-small-text {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: 22px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 5px #aaa;
}

.opinion {
  height: 60px;
  padding: 30px 20px 20px 100px;
  margin: 20px 20px 20px 20px;
  border: 1px solid #ddd;
  position: relative;
  box-shadow: 0px 1px 2px #ddd;
}

#h2-opinion {
  text-align: center;
  font-size: 28px;
}

.opinion > img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  left: 30px;
  text-shadow: 1px 1px 1px #ddd;
}
.opinion > h4 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;

}
.opinion > a {
  position: absolute;
  top: 75px;
  right: 100px;
  font-size: 12px;
}
.opinion > a::after {
  content: " >>";
}
.opinion > a::after {
  content: " ";
}

.contact {
  float: left;
  width: 35%;
  height: 150px;
  padding: 10px;
  margin: 40px 30px 40px 10px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.contact-element {
  margin-top: 5px;
}

.type-of-contact {
  padding: 5px;

}
.type-of-contact i {
  font-size: 16px;
  color: orange;
}

.type-of-contact span {
  color: #555;
  font-size: 12px;
}

.contact-form-page {
  width: 45%;
  display: inline-block;
  margin: 40px 0px;
  border: 1px solid #ddd;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 12px #eee;
}

.contact-form-page > h3 {
  margin-left: 20px;
}

.contact-form {
width: 90%;
padding: 10px;
border-radius: 20px;

}

.contact-form input, .contact-form label, .contact-form textarea {
  display: block;
  margin: 10px;
  width: 90%;
  font-size: 12px;
  border-radius: 4px;
}

.contact-form input {
  background: orange;
  padding: 10px 4px;
  border: none;
  color: white;

}

.contact-form textarea {
  background: orange;
}
